<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trailmap.mapper.UserFavoriteSpotMapper">

    <sql id="favoriteSpotWhere">
        f.user_id = #{userId}
        AND s.status = 1
        <if test="query.type != null and query.type != ''">
            AND s.spot_type = #{query.type}
        </if>
        <if test="query.cityName != null and query.cityName != ''">
            AND c.city_name = #{query.cityName}
        </if>
        <if test="query.favoritedWithinDays != null">
            AND f.created_at <![CDATA[>=]]> DATEADD('DAY', -#{query.favoritedWithinDays}, CURRENT_TIMESTAMP)
        </if>
    </sql>

    <sql id="favoriteSpotOrderBy">
        <choose>
            <when test="query.sortBy == 'score'">
                ORDER BY s.recommend_score DESC, f.created_at DESC, f.id DESC
            </when>
            <otherwise>
                ORDER BY f.created_at DESC, f.id DESC
            </otherwise>
        </choose>
    </sql>

    <select id="selectFavoriteSpotPage" resultType="com.trailmap.model.response.FavoriteSpotBaseRecord">
        SELECT
            f.id AS favoriteId,
            s.id AS spotId,
            s.city_id AS cityId,
            c.city_name AS cityName,
            s.spot_name AS name,
            s.spot_type AS type,
            s.lng AS lng,
            s.lat AS lat,
            s.address AS address,
            s.cover_url AS coverUrl,
            s.summary AS summary,
            s.recommend_reason AS recommendReason,
            s.opening_hours AS openingHours,
            s.ticket_info AS ticketInfo,
            s.suggested_duration AS suggestedDurationMinutes,
            s.best_time AS bestTime,
            s.recommend_score AS recommendScore,
            s.hot_score AS hotScore,
            s.is_free AS isFree,
            s.is_indoor AS isIndoor,
            s.is_night AS isNight,
            s.is_rainy_day AS isRainyDay,
            s.subway_friendly AS subwayFriendly,
            s.first_visit AS firstVisit,
            f.created_at AS favoritedAt
        FROM user_favorite_spot f
        INNER JOIN spot s ON f.spot_id = s.id
        LEFT JOIN city c ON s.city_id = c.id
        WHERE
        <include refid="favoriteSpotWhere"/>
        <include refid="favoriteSpotOrderBy"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countFavoriteSpots" resultType="long">
        SELECT COUNT(1)
        FROM user_favorite_spot f
        INNER JOIN spot s ON f.spot_id = s.id
        LEFT JOIN city c ON s.city_id = c.id
        WHERE
        <include refid="favoriteSpotWhere"/>
    </select>
</mapper>
